extends layout

block content

  article
    p  this is the oath2callback landing page 
    h1 first name: {$firstName}
    h2 last name: {lastName}
    h2 google plus url: {googlePlus}
    h2 state is: {state}