extends layout

block content

  article
    h2 Your google details
    p 
      | 
      strong First name: 
      | #{firstname}
    p 
      | 
      strong Last name: 
      | #{lastname}
    p 
      | 
      strong Google plus url: 
      | #{google}
    h2 My state variable
    p 
      | 
      strong State variable: 
      | #{state}